* {
  padding: 5px;
}

h1, h2 {
  color: whitesmoke;
}
.customer-booking-container {
  @include flex-customer();
  flex-direction: column;
}

.customer-select-dates-container {
  @include flex-customer();
}

.customer-available-rooms-container {
  @include cards();
  section {
    @include boxshadow();
    @include shape();
  }
}

.customer-finances-container {
  @include flex-customer();
    color: whitesmoke;
}

.customer-trips-container {
  @include flex-customer();
  flex-direction: column;
  .future-reservations-container {
    @include flex-customer();
  }
}

.past-reservations-container {
  @include cards();
  section {
    @include boxshadow();
    padding: 10px;
    border-radius: 7px;
  }
}

