.manager-container-view {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  background-color: salmon;
  padding: 1em;
}

.search-for-customer {
  height: 5em;
  width: 15em;
  .search-customer-button {
    
  }
}

.info-today-container {
  display: flex;
  justify-content: space-between;
}

.total-bookings-for-today {
  justify-content: flex-start;
    width: 30%;

}
  .revenue-for-today {
    border: solid 1em greenyellow;
    // display: flex;
    justify-content: flex-start;
    width: 30%;
  }

  .percent-booked-today {
    // display: flex;
    justify-content: flex-start;
    width: 30%;
  }


  
