@import 'variables-mixins';
@import 'login';
@import 'guest-dashboard';
@import 'manager-dashboard';
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* This is an example of using Sass, otherwise plain CSS works too*/
html {
  height: 100%;
  position: relative;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)),
  url('../images/overlook-login.jpg');
  background-attachment: fixed; 
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  .log-out {
    height: 3em;
  }
}

.hide {
  display: none;
}

